.video-container {
  position: relative;
  .close-video {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }
  .controls {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    progress::-webkit-progress-bar {
      border-radius: 5px;
      background-color: #fff;
    }

    progress::-moz-progress-bar {
      border-radius: 5px;
      background-color: #fff;
    }

    progress::-webkit-progress-value {
      background-color: #ff2e00;
      border-radius: 5px;
    }

    progress::-moz-progress-value {
      background-color: #ff2e00;
      border-radius: 5px;
    }

    progress {
      width: 95%;
      height: 5px;
      display: block;
      color: #ff2e00;
      border-radius: 2px;
      cursor: pointer;
    }

    .video-control-buttons > img:active {
      opacity: 0.5;
    }

    #playpause {
      cursor: pointer;
    }
  }
}
